.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: none;
}

.page-select-container{
  position: absolute;
  width: 100vw;
  height: 60px;
  background-color: rgb(247, 243, 238);
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 5vh;
  align-items:center;
  top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  overflow: none;
}
.page-select{
  display: flex;
  width: 40vh;
  height: 40px;
  border-radius: 1.5vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 3vh;
  text-decoration: none;
  text-transform:uppercase;
  font-weight: bolder;
  color: rgb(153, 153, 153);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  overflow: none;
}
@media only screen and (max-width: 480px){
 .page-select{
  width: 30vw;
 }
}