.map-wrap{
  display: grid;
  width: 40vw;
  height: 40vw;
  /* border: 5px solid blue; */
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: #f7f3ee;
  /* position:absolute; */
  /* grid-gap: 1em; */
  /* overflow: hidden; */
  margin-top: 3vw;
}
.floor-plan{
  outline: 5vh solid black;
  display: grid;
  background-color: white;
  box-shadow: inset 0px 0px 5px 1px rgb(124, 123, 123);
  position: absolute;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 30vw;
  height: 30vw; */
  /* position: absolute; */
  outline: .75vw solid rgb(112, 112, 112);
  display: grid;
  /* background-color: white; */
  box-shadow: inset 0px 0px 5px 1px rgb(124, 123, 123);
  z-index: 10; 
  background-color: white;
}

.child {
  /* background-color: blue; */
  /* width: 3vw;
  height: 3vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(72, 72, 72);
  
  /* background-image: url("https://images.furnituredealer.net/img/RoomPlanner/ObjectIcons/Bedroom_HeaderAndFooterBed.png"); */
  background-size: cover;
  background-position: center;
  /* transform: rotate(90deg); */
  filter: drop-shadow(0 0 .75vw grey);
  transition: all 1s;
}


.child:hover{
cursor:grab;
}

@media only screen and (max-width: 480px){


  .map-wrap{
    width: 95vw;
    height: 95vw;
  }
  .grid{
    outline: 1vh solid rgb(78, 77, 77);
  }
}


