.canvasContainer{

  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* border: 5px solid red; */
  justify-content: center;
  align-items: center;
  overflow-y: none;
  overflow-x: none;
}

.edit-container{
  display: flex;
  left: 0;
  position:absolute;
  height: 100vh;
  width: 40vw;
  border:1px solid red;
  overflow-y: none;
  overflow-x: none;
  z-index: 2;
  justify-content: center;
  background-color: white;
  align-items: center;
  flex-direction: column;
}

.three-js{
  /* border: 3px solid rgb(208, 248, 250); */
  overflow-y: none;
  overflow-x: none;
}
button{
  height: 20%;
}

.material-box{
  height: 75px;
  width: 75px;
  background-size: cover;
}

.upper-select, .lower-select{
  display: flex;
  width: 90%;
  height: fit-content;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 50px;
  border: 1px solid blue;
}